<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <h1>Basic Clculator on Express</h1>
    <form method="POST" action="/Result">
        <input type="number" name="n1" placeholder="NUM1">
        <input type="number" name="n2" placeholder="NUM2">
        <input type="submit" name="add" value="ADD">
        <input type="submit" name="subt" value="SUBTRACT">
        <input type="submit" name="mult" value="MULT">
        <input type="submit" name="div" value="DIV">
    </form>
</body>
</html>